# Dependencies
node_modules/
.pnp
.pnp.js

# Build
frontend/.next/
frontend/out/
cdk/cdk.out/
*.js.map

# Database
*.db

# Logs
logs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env
.env.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# CDK
cdk/cdk.out/
cdk/bin/*.js
cdk/bin/*.d.ts
cdk/lib/*.js
cdk/lib/*.d.ts

# Misc
*.tsbuildinfo
next-env.d.ts
